html, body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

main {
    padding: 100px 200px;
}

#header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color: #222831;
    color: #eeeeee;
    padding: 20px 50px;
    overflow: hidden;
    z-index: 1000;
}

#header-navbar .logo {
    position: relative;
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: 0.6s;
    font-family: 'Poppins', sans-serif !important;
}

#header-navbar .logo span {
    background: linear-gradient(to top right, #00adb5 10%, #adfaff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-navbar ul {
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#header-navbar ul li {
    position: relative;
    list-style: none;
}

#header-navbar ul li a {
    font-weight: 800;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    border: 2px solid hsla(0,0%,100%,.5);
    border-radius: 6px;
    transition: 0.5s;
}

#header-navbar ul li a:hover {
    border: 2px solid white;
}

#content-banner {
    height: 720px !important;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#content-banner img {
    width: 720px;
    object-fit: contain;
}

#content-banner div {
    margin-top: 140px;
}

#content-banner div h1 {
    font-size: 45px;
    font-weight: 600;
}

#content-banner div p {
    font-size: 20px;
    font-weight: 500;
}

#content-banner div button {
    margin-top: 30px !important;
    width: 50%;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
    font-weight: 800;
}

#content-banner div button:focus {
    outline: none;
}

#content-banner div button:hover {
    background-color: black;
    color: white;
}

#content-banner div h1 span {
    font-weight: 800;
    font-size: 60px;
}

aside h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

aside .card-wrapper {
    display: flex;
    justify-content: space-between;
}

.quality-card {
    position: relative;
    width: 31%;
    height: 450px;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
    text-align: center;
}

.quality-card:hover {
    top: -15px;
}

.quality-card img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.quality-card h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.quality-card p {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
}

#article-section h1 {
    font-size: 50px;
    text-align: center;
}

#article-section article h1 {
    font-size: 35px;
    text-align: left !important;
    margin: 10px 0px;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.product {
    justify-content: left;
    padding: 0px 20px 0px 0px !important;
}

.product img {
    position: relative;
    width: 200px;
    height: 200px;
    left: 0px;
    margin: 0px 20px 5px 0px;
    border-radius: 10px;
}

.product .vertical-line {
    width: 4px !important;
    background-color: black;
    padding: 0px !important;
    margin: 0px 20px 20px 0px;
}

#article-products div {
    display: flex;
}

#articles {
    min-width: 500px;
}

#articles .product {
    display: block;
}

#articles .product p {
    display: block;
    text-align: center;
    padding: 0px 20px;
    font-size: 20px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: bolder;
}

.footer-left {
    padding-left: 50px;
    color: white;
}

#footer-image-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#footer-findus-label {
    color: white;
    margin-right: 20px;
}

.footer-image-icon-end {
    padding-right: 25px;
}

footer {
    color: white;
    background-color: #000000;
    height: 200px;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 50px 0px;
    justify-content: center;
}

footer h3 { 
    text-align: center;
}

.footer-social-media {
    right: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.gradient-background {
    background: linear-gradient(to top right, #00adb5 10%, #adfaff 80%);
}